.images {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;

  //   columns: 6 200px;
  //   column-gap: 10px;
}

.image {
  img {
    width: 100%;
    height: 100%;
  }
  width: 30rem;
  height: 30rem;
}
