.search__bar {
  label {
    font-size: 2rem;
  }
  input {
    width: 20%;
    bottom: 1px solid lightgray;
    border-radius: 0.8rem;
    padding: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
